@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;900&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../images/book-min.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: 'Barlow';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    width: 396px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
	text-align: center;
	padding-bottom: 24px;
    padding-top: 10px;
	color: #5e6063;
}

h1{
    color: #a077bb;
}

.field {
    width: 364px;
    padding: 6px;
    border-radius: 999px;
    border: 1px solid #dddfe2;
}

input:focus-visible{
    outline: 1px solid #a077bb;;
}