@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;900&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@600&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/book-min.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: 'Barlow';
	display: flex;
	flex-direction: column;
	align-items: center;
}

