form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    width: 396px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
	text-align: center;
	padding-bottom: 24px;
    padding-top: 10px;
	color: #5e6063;
}

h1{
    color: #a077bb;
}

input {
    width: 364px;
    padding: 6px;
    border-radius: 999px;
    border: 1px solid #dddfe2;
}

input:focus-visible{
    outline: 1px solid #a077bb;;
}

#signin {
	border-radius: 30px;
	font-size: 17px;
    width: 364px;
	text-align: center;
	display: inline-block;
    margin: 9px;
    padding: 6px 0;
	border: 1px solid #dddfe2;
	background: #a077bb;
    border-color: #a077bb;
    color: #fff;
}

#signin:hover {
    background: #FFF;
    border-color: #a077bb;
    color: #a077bb;
    cursor: pointer;
}

#signup{
	font-size: 17px;
    width: 300px;
	border: 0;
    color: #a077bb;
}

hr {
	width: 15rem;
}

#forgot_pswd {
	color: #385898;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

